<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户头部</title>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="./FocusDiv.js"></script>
</head>

<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="border w-[300px] h-[300px]">
        <!-- 基础跟随效果 -->
        <drag-follow max-offset="25" follow-speed="0.008" maxBounceTimes="10">
            <div class="relative bg-black w-[250px] h-[50px] rounded text-white flex items-center justify-center">
                <div class="absolute">
                    <drag-follow max-offset="15" follow-speed="0.008" maxBounceTimes="10">
                        <div class="relative w-[250px] h-[50px] rounded text-white flex items-center justify-center">
                            <div class="absolute">
                                内容
                            </div>
                        </div>
                    </drag-follow>
                </div>
            </div>
        </drag-follow>

        <!-- 回弹效果示例 -->
        <drag-follow max-offset="25" follow-speed="0.01" springConstant="0.8" dampingFactor="0.3" maxBounceTimes="10" bounceThreshold="0.1">
            <div class="relative bg-black w-[250px] h-[50px] rounded text-white flex items-center justify-center">
                <div class="absolute">
                    回弹效果
                </div>
            </div>
        </drag-follow>
    </div>
</body>

</html>